# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
_site/

# python / scripts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
*.egg
.venv/
venv/
env/

# editor tools backups
.editor_tools_backups/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo
